/* Media Queries */
/* hide element on screens that are 480px or greater */
@media all and (max-device-width: 480px) {
  ul.mobile-nav.container2 {
    display: none;
  }

  body .headline {
    align-self: center;
    margin-left: 0 !important;
    margin-right: 0 !important;
    width: -webkit-fill-available
  }

  body .products {
    display: block;
    flex-direction: column;
    flex-wrap: wrap;
    align-self: center;
    align-items: center;
    width: 100% !important;
    height: fit-content;
    margin-bottom: 3rem;
  }

  body .products .product {
    display: flex;
    flex-shrink: 0.5;
    background-color: lightblue;
    width: 90% !important;
    padding-top: 25%;
    margin-left: 5%;
    margin-bottom: 5%;
    background-color: white;
    border: 0.4px solid black;
    flex-direction: column;
  }

  body .product-image {
    display: flex;
    align-self: center;
    height: 9rem;
    width: 50%;
    padding: 0rem 2rem 15rem 2rem !important;
    flex-direction: row;
    justify-content: center;
  }

  body .business-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 960px;
  }

  body .info {
    display: flex;
    flex-direction: column;
    color: black;
    width: 90%;
    padding-bottom: 4rem;
  }

  body .container {
    align-self: center;
  }

  footer {
    display: grid;
    justify-content: center;
  }
}

/* hide element on screens that are 1024px or greater */
@media all and (min-width: 641px) and (max-width: 1024px) {
  ul.mobile-nav.container2 {
    display: none;
  }

  .products {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-self: center;
    align-items: center;
    width: 960px;
    height: 780px;
    margin-bottom: 3rem;
  }

  .products .product {
    display: flex;
    flex-shrink: 0.5;
    background-color: lightblue;
    width: 47% !important;
    padding-top: 5rem;
    background-color: white;
    border: 0.4px solid black;
    flex-direction: column;
  }

  .product-image {
    display: flex;
    align-self: center;
    height: 9rem;
    width: 50%;
    padding: 0rem 2rem 5rem 2rem !important;
    flex-direction: row;
  }
}

/* hide element on screens that are 1024px or less */
@media screen and (min-width: 1025px) {
  ul.container {
    display: none;
  }
}


/* Universal */
html {
  margin: 0;
  background-color: black;
  font-family: Helvetica;
  font-size: 18px;
  color: white;
  //opacity: 0.9;
}

body {
  display: block;
  width: 100%;
  min-width: 960px;
  margin: 0;
  padding: 0;
  align-items: center;

}

div {
  border: solid red;
}

h2 {
  margin: 0;
  padding: 10px 0;
  font-size: 32px;
}

h3 {
  font-size: 28px;
  font-weight: bold;
}

h4 {
  font-size: 24px;
  font-weight: bold;
  margin: 0 0 20px 0;
}


/* Universal - Navigation+ */
nav {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  //padding: 0 10px 0 0;
  font-weight: 600;
  background-color: firebrick;
  /width: 100%;
}

nav ul {
  display: flex;
  flex-direction: row;
  align-self: center;
  justify-content: center;
  padding: 0 10px 0 0;
  font-weight: 600;
  width: 960px;

}

nav ul li {
  display: block;
  flex: 0 1 auto;
  padding: 0.75rem 0 0.75rem 0.75rem;
  font-weight: 600;
}

ul.mobile-nav.container2 {
  align-items: stretch;
  justify-content: space-between;
}


/* Top Div - Should be header */
.container {
  max-width: 960px;
  margin: 0 auto;
}

.company {
  background-color: black;
  color: white;
}

.company .container {
  display: flex;
  align-items: center;
  padding: 0.66rem 0rem;
}

.company .container img {
  height: 1.5rem;
  padding-left: 0.5rem;
  padding-right: 1rem;
}

.main-banner {
  display: flex;
  background-image:
  url('../images/moto.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 25rem;
  align-content: center;
}

.main-banner .container {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  width: 960px;
  height: auto;
}

.headline {
  display: inline-block;
  justify-content: center;
  font-weight: bold;
  margin-top: 9rem;
  width: 20rem;
  padding: 2rem 3rem;
  background-color: black;
}

.headline h4 {
  font-size: 1rem;
  margin-bottom: 0.25rem;
}

.headline h1 {
  font-size: 2rem;
}

/* Main Div */
#main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: white;
  width: 100%;
  margin: 0 auto 0 auto;
  padding-top: 3rem;
}

/* Main Sections */
.products {
  display: flex;
  flex-wrap: wrap;
  align-self: center;
  justify-content: space-between;
  align-items: center;
  width: 960px;
  margin-bottom: 3rem;
}

.products .product {
  display: flex;
  flex-shrink: 0.5;
  background-color: lightblue;
  width: 30%;
  background-color: white;
  border: 0.4px solid black;
  flex-direction: column;
}

.product-image {
  display: flex;
  align-self: center;
  height: 9rem;
  width: 50%;
  padding: 2rem;
  flex-direction: row;
}

.product-image img {
  display: flex;
  align-self: center;
  max-width: 100%;
  height: auto;
}


.description {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0.5rem 0rem;
  background-color: black;
}

.business-info {
  display: flex;
  justify-content: space-between;
  width: 960px;
}

.info {
  display: flex;
  flex-direction: column;
  color: black;
  width: 35%;
  padding-bottom: 4rem;
}

.info span {
  display: inline-block;
  flex-direction: column;
  width: auto;
}

.title {
  display: block;
  flex-direction: column;
  background-color: black;
  padding-left: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  color: white;

}

/* Inventory Section I & II */



/* Footer */
footer div {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  height: 5rem;
  width: 100%;
}
